body {
    padding-top: 45px;
  }
  
  /* header */
  .navbar {
    min-height: 40px !important
  }
  
  .navbar-brand {
    height: 40px;
    padding: 5px 15px;
  }
  
  .navbar-nav > li > a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }